<%= form_with(model: clinic) do |form| %>
  <% if clinic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
        <% clinic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :pictures, style: "display: block" %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
