<p style="color: green"><%= notice %></p>

<h1>Clinics</h1>

<div id="clinics">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Address</th>
          <th scope="col">Year</th>
          <th scope="col">Number of departments</th>
          <th scope="col">Number of Doctors</th>
          <th scope="col">Pictures</th>
          <th scope="col">Show</th>
        </tr>
    </thead>
      <% @clinics.each do |clinic| %>
          <tbody>
              <tr>
                <%= render clinic %>
                <td><%= link_to "Show this clinic", clinic %></td>
              </tr>
          </tbody>
      <% end %>
  </table>
</div>

<%= link_to "New clinic", new_clinic_path %>

<%= link_to "CSV", info_documentation_csv_path %>
<%= link_to "PDF", info_documentation_pdf_path %>

<%= paginate @clinics %>