<p style="color: green"><%= notice %></p>

<%= render @clinic %>

<div>
  <%= link_to "Edit this clinic", edit_clinic_path(@clinic) %> |
  <%= link_to "Back to clinics", clinics_path %>

  <%= button_to "Destroy this clinic", @clinic, method: :delete %>
</div>

<%= link_to "PDF", "http://127.0.0.1:3000/info_documentation/pdf_by_clinic_id/#{@clinic.id}" %>

<%= link_to "Show patients", "http://127.0.0.1:3000/patients/by_clinic/#{@clinic.id}" %>