<h1>Home#index</h1>

<%= link_to 'Clinics', clinics_path, class: 'nav-link active'%>
<br>
<%= link_to 'Departments', departments_path, class: 'nav-link active'%>
<br>
<%= link_to 'Doctors', doctors_path, class: 'nav-link active'%>
<br>
<%= link_to 'Specializations', specializations_path, class: 'nav-link active'%>
<br>
<%= link_to 'Patients', patients_path, class: 'nav-link active'%>
<br>
<%= link_to 'Patient Cards', patient_cards_path, class: 'nav-link active'%>