<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= doctor.surname %>
  </p>

  <p>
    <strong>Birthday date:</strong>
    <%= doctor.birthday_date %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department_id %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization_id %>
  </p>

</div>
